crash-reports
logs
saves
resourcepacks
screenshots
local
debug
datapacks

*.jar
*.disabled

Distant_Horizons_server_data
XaeroWorldMap
XaeroWaypoints*

usernamecache.json
usercache.json

modernfix
servers*

emi.json
profile.json

rhino.local.properties
.DS_store
.qmenu_opened.marker
.mixin.out
.vscode